<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        {{- partial "scriptsBodyStart.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "scriptsBodyEnd.html" . -}}
        {{ if .Store.Get "hasMermaid" }}
        <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true });
        </script>
        {{ end }}
    </body>
</html>